
.centered-wrapper {
  background-color: black;
  color:white;
  width:300px;
  padding:4px;
  margin:0 auto;
  text-align: center;
  }


p {
  padding: 30px;
  border: 2px solid #111111;
  margin: 100px;
}

.blue{
  float: left;
  width: 250px;
  border: 2px solid #111111;
  margin-right:10px;
  margin-bottom:5px;
  background: blue;}

.red{
  float: left;
  width: 250px;
  border: 2px solid #111111;
  margin-right:10px;
  margin-bottom:10px;
  background: red;}

.yellow{
  float: left;
  width: 250px;
  border: 2px solid #111111;
  margin-right:10px;
  margin-bottom:10px;
	background: yellow;}

.green
{	float: left;
	width: 250px;
	border: 2px solid #111111;
  	margin-right:10px;
  	margin-bottom:10px;
	background: green;}

img {float:left;
	  width: 70px;
    margin-right:20px; margin-right: 20px; }

.moveme{position:absolute;
        top:400 px;}

.facebook-link {
  position: fixed;
  text-decoration: none;
  width:150px;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-color: blue;
  background-color: black;
  color: white;
  letter-spacing: 1px;
}

.twitter-link {
  position: fixed;
  width:150px;
  text-decoration: none;
  bottom: 50px;
  left: 0;
  padding: 10px;
  border-color: blue;
  background-color: black;
  color: white;
  letter-spacing: 1px;
}